[package]
name = "fst"
version = "0.1.16"  #:version
authors = ["Andrew Gallant <jamslam@gmail.com>"]
description = """
Use finite state transducers to compactly represents sets or maps of many
strings (> 1 billion is possible).
"""
documentation = "http://burntsushi.net/rustdoc/fst/"
homepage = "https://github.com/BurntSushi/fst"
repository = "https://github.com/BurntSushi/fst"
readme = "README.md"
keywords = ["search", "information", "retrieval", "dictionary", "map"]
license = "Unlicense/MIT"

[[bench]]
name = "build"
path = "./benches/build.rs"
test = false
bench = true

[[bench]]
name = "search"
path = "./benches/search.rs"
test = false
bench = true

[dependencies]
byteorder = "0.3"
memchr = "0.1"
memmap = "0.2"
regex-syntax = "0.2"
utf8-ranges = "0.1"

[dev-dependencies]
quickcheck = "0.2"
rand = "0.3"

[profile.release]
debug = true

[profile.bench]
opt-level = 3
debug = true
