[package]
name = "tantivy-fst"
version = "0.1.0"
authors = ["Paul Masurel<paul.masurel@gmail.com>"] # forked from Andrew Gallant's work
description = """
This is a fork from the
"""
documentation = "https://docs.rs/tantivy-fst"
repository = "https://github.com/tantivy-search/fst"
readme = "README.md"
keywords = ["donotuseme"]
license = "Unlicense/MIT"

[[bench]]
name = "build"
path = "./benches/build.rs"
test = false
bench = true

[[bench]]
name = "search"
path = "./benches/search.rs"
test = false
bench = true

[dependencies]
byteorder = "1"
regex-syntax = "0.4"
utf8-ranges = "1"
levenshtein_automata="0.1"

[dev-dependencies]
fnv = "1.0.5"
lazy_static = "0.2.8"
quickcheck = { version = "0.7", default-features = false }
rand = "0.5"
proptest = "0.9.4"

[profile.release]
debug = true

[profile.bench]
opt-level = 3
debug = true
